body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: blue
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

.row {
    width: 25rem;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.grid-column {
    width: 3.57rem;
    height: 3.57rem;
    margin: 0px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.grid-row {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.arrow-grid {
    width: 3.57rem;
    height: 3.57rem;
    margin: 0px;
}

.whitedot {
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
  }

  .reddot {
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius: 50%;
  }

  .yellowdot {
    height: 2rem;
    width: 2rem;
    background-color: yellow;
    border-radius: 50%;
  }

  .circle-red {
    height: 3.8rem;
    width: 3.8rem;
    background-color: red;
    border-radius: 50%;

  }

  .circle-yellow {
    height: 3.8rem;
    width: 3.8rem;
    background-color: yellow;
    border-radius: 50%;
  }

  .turn-outline {
    padding: 0.2rem;
    border: 0.4rem;
    border-style: solid;
    border-color: blue
  }

  .arrow-colour {
      color: blue;
  }

  .arrow-colour:hover {
      color: red;
    /* color: yellow; */
  }